<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Debug!</title>
    <!-- ---------------------------------------------------------------------------------------------------------   -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'DojoApp/css/style.css' %}">
    <script src="{% static 'DojoApp/js/script.js' %}"></script>
    <!-- load static----------------------------------------------------------------------------------------------   -->
</head>
<!-- =============================================================================================================== -->
<body>

    <h1>Info From Server:</h1>
    <p>Name: {{name}}</p>
    <p>Color: {{favorite_color}}</p>
    <p>Pets</p>
    <ul>
    {% for pet in pets %}
       <li>{{pet}}</li>
    {% endfor %}
    </ul>


    <img id="josh" src="{% static 'DojoApp/images/lena.png' %}" />

    <!-- Modification of clock program described here: https://youtu.be/NJVJRFF-Y6U -->
    <div id="MyClockDisplay" class="clock">
        <script>
            showTime();
        </script>
    </div>

</body>
</html>