<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Index!</title>
    {% load static %}		<!-- added this line -->
    <link rel="stylesheet" href="{% static 'DojoApp/css/style.css' %}">
    <script src="{% static 'DojoApp/js/script.js' %}"></script>

    <style type="text/css">
        body{
            background: #1005;
        }
        .clock{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: #fff;
            font-size: 80px;
            border: 1px solid #ccc;
            padding: 0px 5px 0px 5px;
        }

        #josh {
            height: 100px;
        }
    </style>

</head>
<!-- =============================================================================================================== -->
<body>

    <h1>Info From Server:</h1>
    <p>Name: {{name}}</p>
    <p>Color: {{favorite_color}}</p>
    <p>Pets</p>
    <ul>
    {% for pet in pets %}
       <li>{{pet}}</li>
    {% endfor %}
    </ul>

        <img id="josh" src="{% static 'DojoApp/images/lena.png' %}" />

        <!-- Modification of clock program described here: https://youtu.be/NJVJRFF-Y6U -->
        <div id="MyClockDisplay" class="clock"></div>
        <script type="text/javascript">

        function showTime(){
            var date = new Date();
            var h = date.getHours();   // 0 - 23
            var m = date.getMinutes(); // 0 - 59
            var s = date.getSeconds(); // 0 - 59
            var session = "AM";

            if(h == 0)
                h = 12;

            if(h > 12){
                h = h - 12;
                session = "PM";
            }

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            var time = h + ":" + m + ":" + s + " " + session;
            document.getElementById("MyClockDisplay").innerText = time;
            document.getElementById("MyClockDisplay").textContent = time;

            setTimeout(showTime, 1000);
        }
        showTime();
        </script>

</body>
</html>